/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/1967-Ford-Shelby-Mustang-GT500-003-2000.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgba(18, 18, 18) , rgba(60, 32, 0));

}
.btn {
    margin: 20px;
    border: 1px solid white;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background: whitesmoke;
    color: grey;
    box-shadow: 10px, 10px, 10px, 10px, grey;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.Img {
    width: 1000px;
    border-radius: 10px;
}

label {
    text-align: center;
    background: rgb(255, 225, 225, 0.2);
    width: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 5px;
    position: relative;
    top: -315px;
    left: 170px;
    z-index: 100;
}

.Bullets{
    position: relative;
    height: 20px;
    left: -580px;
    top: 320px;
    text-align: center;
}
.Bullet{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #474747;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
    background: #fff !important;
}